@font-face {
    font-family: 'MarathonFont';
    src: url('/assets/fonts/marathon-font.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: 'MarathonFont', monospace !important;
    user-select: none !important;
}